.info{
    text-align: center;
    font-size: 30px;
    background-color: rgba(223, 223, 223, 0.219);
    border-radius: 10px;
    padding: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
}
.home-btn
{
    font-weight: bold;
    color: azure;
    height: 50px;
    background-color: rgb(255, 0, 0);
    padding: 15px 20px 20px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid black;
}
.home-btn:hover{
    background-color: rgba(255, 0, 0, 0.712);
}