body {
    position: relative;
    height: 100vh;
    color: #333;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #32f8ff;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}


.product-container
{
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.inner-container {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    gap: 5px;
    margin-top: 20px; 

}


.left-side {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    gap: 5px;
}


.right-side {
    display: flex;
    flex-direction: row;
    gap: 5px; 
    height: 200px;
    width: 100%;
}


.gallery-box {
    background-color: lightgray;
    width: 15%;
    border: 1px solid black;
}


.image-box {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 5px;
    flex: 1;
    flex-wrap: wrap; 
    border: 1px solid black;
}


.actions-box {
    padding: 30px;
    background-color: #FFD700;
    width: 25%; 
    border: 1px solid black;
}


.description-box {
    padding: 20px;
    flex: 1; 

}


.reviews-box {
    padding: 20px;
    width: 30%; 
}
.actions-box p
{
    text-shadow: 
        1px 1px 0 black,
        -1px -1px 0 black, 
        1px -1px 0 black, 
        -1px 1px 0 black;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 490px;
    max-height: 490px;
}
.description-box p
{
    text-align: left;
    font-size: 5mm;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}